pkgbase = helium-browser-bin
	pkgdesc = Private, fast, and honest web browser based on Chromium
	pkgver = 0.4.6.1
	pkgrel = 4
	url = https://github.com/imputnet/helium-linux
	arch = x86_64
	license = GPL3
	depends = zlib
	depends = hicolor-icon-theme
	noextract = helium-0.4.6.1-x86_64.AppImage
	options = !strip
	source_x86_64 = helium-0.4.6.1-x86_64.AppImage::https://github.com/imputnet/helium-linux/releases/download/0.4.6.1/helium-0.4.6.1-x86_64.AppImage
	source_x86_64 = https://raw.githubusercontent.com/imputnet/helium-linux/main/LICENSE
	sha256sums_x86_64 = b725fb77c177ac3999371263f1d75d4fbe737389842de50b718bdd75e6ea81dd
	sha256sums_x86_64 = 7056c04df17a4e0f0bac9f787f347c9cd892cee6323d1c89528090afd0b934a3

pkgname = helium-browser-bin
